<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Medidas Preventivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Medidas Preventivas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
      <ion-item  *ngFor ="let data of lista" >
        <ion-card>
        <ion-card-content>
          <div>
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light" style="width: 300px;">
                  <ion-label>Medida: {{data.id}}</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <img src="{{data.foto}}" width="250" height="150"><br><br>
                  <b>Titulo:</b><br>
                  {{data.titulo}}<br><br>
                  <b>Descripcion:</b><br>
                  {{data.descripcion}}<br>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

