<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
    <ion-card-title>¡Hasta luego héroe naranja! DC despide a Bramny Díaz, voluntario que perdió la vida salvando otras en Puerto Plata</ion-card-title>
  </ion-card-header>
  <ion-img src="assets/img/y0007.jpeg" ></ion-img>

  <ion-card>
    <ion-item lines="none">
      <p>Fecha 04/03/24</p>
      
    </ion-item>

    <ion-item lines="none">
      <p>
        Santo Domingo.- Cientos de voluntarios de la Defensa Civil, despidieron este miércoles a Bramny Díaz, el voluntario del organismo naranja que murió en Puerto Plata el pasado domingo, cuando trataba de rescatar a dos personas que también fallecieron, en aguas de la playa El Bronx.
        Los actos fúnebres fueron encabezados por el director ejecutivo de la Defensa Civil, Juan Salas, quien definió al joven como una persona ejemplar y con tremenda vocación de servicio y amor.
        “ La Dirección Ejecutiva lamenta profundamente el fallecimiento de su héroe naranja, Bramny Díaz, una persona entregada, con una excelente vocación de servicio y amor por el prójimo”, dijo Salas. 
        Bramny, quien brindó sus servicios como voluntario en las provincias, Santo Domingo, Santiago y Puerto Plata, fue sepultado en el Cementerio San Vicente de Paul, en Santo Domingo Este, hasta donde llegaron varios de sus allegados, quienes indicaron que lo recordaran como todo un héroe. 
      </p> 
    </ion-item>

    <ion-card-header>
      <ion-card-title>Defensa Civil recupera los cuerpos de tres personas desaparecidas en playa “El Bronx”, Puerto Plata</ion-card-title>
    </ion-card-header>
    <ion-img src="assets/img/y0006.jpeg" ></ion-img>
  
    <ion-card>
      <ion-item lines="none">
        <p>Fecha 04/02/24</p>
        
      </ion-item>
  
      <ion-item lines="none">
        <p>
          Puerto Plata.-  Buzos de la Defensa Civil recuperaron este martes los cuerpos de las tres personas que desaparecieron el pasado domingo en aguas de la playa Marapicá o El Bronx en esta provincia.
          Según informó el director ejecutivo de la institución naranja, Juan Salas, el primero cuerpo fue recuperado alrededor de las 7:05 de la mañana en alta mar; dos horas después fue localizado el segundo, mientras que el tercero se recuperó pasado el mediodía, esto debido al fuerte oleaje.
          Los reportes emitidos por el director provincial de la Defensa Civil en Puerto Plata, detallan que el equipo de rescatistas buscó por horas a Brianny Díaz, de 29 años y quien fue voluntario de la institución, también al joven Anderson González Tejada, de 17, proveniente del sector La Otra Banda en Santiago y a José Alberto Chevalier, de 29 años.
          García dijo además, que el suceso ocurrió poco antes del mediodía del Domingo Santo, cuando una de las victimas optó por bañarse en un punto aledaño, no autorizado y de inmediato comenzó a tener problemas debido al oleaje. Otro trató de ayudarlo, pero también fue afectado. Mientras que el voluntario de la Defensa Civil, también intentó brindarle una mano amiga, sin embargo, no pudo salir.
          En las labores de búsqueda también participaron unidades de la Armada Dominicana, Bomberos locales, el equipo SAR de la Fuerza Aérea, fundación Océano Limpio, rescate Ámbar-Escorpión y de la Cruz Roja de Puerto Plata.
          Los cuerpos fueron entregados al Instituto Nacional de Ciencias Forenses (INACIF), para los fines correspondientes.
        </p> 
      </ion-item>

 