<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="ion-text-center"><h2>Team Bug Busters</h2></ion-card-header>

    <ion-accordion-group [multiple]="true" >


      <ion-accordion value="third" style="margin: 0.1em;">

        <ion-item slot="header" color="warning">
          Backend y Frontend Developer
        </ion-item>
        <div class="ion-padding" slot="content">
          
          - Nombre: Isael <br>
          - Apellido: Ramon Tapia <br>
          - telefono : 939-208-0219  <br>
          <img src="assets/img/isaelrt.png" />
         
        </div>
        
      </ion-accordion>

    </ion-accordion-group>

  </ion-card>
  
</ion-content>
